.midpart2{
    display: none;
}
.wpm{
    margin-left: 33%;
    margin-bottom: 4%;
}
.finalwordstyped{
    display: block;
}
.finaltimetaken{
    margin-left: 1%;
    display: block;
}
.finalwpm{
    margin-left: 10%;
    display: block;
}
.forrestart2{
    margin-left: 45%;
    margin-bottom: 5%;
}
